@import 'styles/uswds';

.header {
  @include u-bg($theme-color-primary-darker);
  display: flex;
  padding: 1rem;

  a {
    @include u-text($theme-color-primary-lighter);
    padding: 0 1rem;

    &.user {
      font-weight: 700;
      text-decoration: none;
    }
  }
}

.grow {
  flex-grow: 1;
}