.gray {
  background-color: #3D4551;
  color: #FFFFFF;
}

.blue {
  background-color: #73B3E7;
  color: #FFFFFF;
}

.purple {
  background-color: #E4D9E9;
  color: #000000;
}

.brown {
  background-color: #F2E4D4;
  color: #000000;
}