.section {
  padding: 0 4rem;
  background-color: #f0f0f0;
}

.breadcrumbBar {
  background-color: #f0f0f0;
}

.breadcrumbLink,
.h1 {
  text-transform: capitalize;
}

.link {
  text-decoration: underline;
}
