@import "styles/uswds";

.cases {
  padding: 2rem 4rem;

  h1 {
    margin: 0;
  }

  p {
    margin: 8px 0 48px 0;
  }

  .row {
    cursor: pointer;
  
    &:hover,
    &:focus,
    &:active {
      background-color: lighten(color($theme-color-accent-cool-lighter), 2%);
      border-color: "green";
    }
  
    td,
    th {
      background-color: inherit !important;
      text-transform: capitalize;
    }
  }
}

.todo {
  color: #000000; 
  @include u-bg($theme-color-accent-cool-lighter);
}
